# Использовать базу данных PostgreSQL
USE_POSTGRESQL=False

# Ссылка на локальную базу данных
URL_LOCAL_BD="example.db"

# Параметры для базы данных.
POSTGRES_USER=
POSTGRES_PASSWORD=

# Название базы данных. Например, "test_db".
POSTGRES_DB=

# Порт, по которому будет обращение к postgres внутри контейнера. Например, "5432".
POSTGRES_PORT=1234

# IP/домен сервера. Например, "localhost", "123.25.45.250" или "db" (сервис docker compose).
POSTGRES_HOST=

# Ключ шифровки для jwt.
JWT_SECRET_KEY=

# Название активного jwt токена в cookie.
JWT_ACCESS_COOKIE_NAME="access_token"

# Название перезагрузочного jwt токена в cookie.
JWT_REFRESH_COOKIE_NAME="refresh_token"

# Защита от межсайтовой подделки запросов.
JWT_COOKIE_CSRF_PROTECT=False

# Места, из которых будет приниматься jwt токен. Набор может включать ["headers", "query", "cookies", "json"]
JWT_TOKEN_LOCATION=["headers", "query", "cookies", "json"]

# Алгоритм кодировки токена.
# Один из 'HS256', 'HS384', 'HS512', 'ES256', 'ES256K', 'ES384', 'ES512', 'RS256', 'RS384', 'RS512', 'PS256', 'PS384', 'PS512'
JWT_ALGORITHM=

# Алгоритм кодировки пароля.
# Один из 'md5', 'sha1', 'sha224', 'sha256', 'sha384', 'sha512', 'blake2b', 'blake2s', 'sha3_224', 'sha3_256', 'sha3_384', 'sha3_512', 'shake_128', 'shake_256'
HASH_ALGORITHM=